.gallery {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 20px;
  padding: 2rem;
  justify-content: center;
}

.card {
  position: relative;
  width: min-content;
  height: 20rem;
  border-radius: 2rem;
  overflow: hidden;
  transition: height 0.5s ease;
  box-shadow: 0 4px 8px var(--main-color);
}

.card img {
  border-radius: 2rem;
  height: 100%;
  object-fit: cover;
}

.card_contenido {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* Ocultar el contenido inicialmente */
  height: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  transition: height 0.3s ease, opacity 0.3s ease;
}

.card:hover .card_contenido {
  color: black;
  height: 50%; /* O ajusta al tamaño deseado */
  opacity: 1;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.7);  /* Opcional: redondear bordes superiores */
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
}

.card:hover img {
  transform: scale(1);
  cursor: pointer;
}

.card card_item h3 {
  margin: 8px auto;
  font-size: 1.2rem;
  color: var(--third-color);
}

.card card_item p {
  font-size: 1rem;
  line-height: 1.5;
}