.main_top {
    display: flex;
    margin: 50px 50px;
    border: 1px solid #121212;
    height: 200px;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

.main_top h1 {
    font-size: 1.8em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    margin-left: 20px;
}

.main_top p {
    margin-left: 20px;
}