<<<<<<< HEAD
.gallery {
    display: flex;
    flex-wrap:wrap-reverse;
    justify-content: center;
  }

.card {
    position: relative;
    width: 300px;
    height: 300px;
    /* overflow: hidden; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    /* transition: height 0.5s ease; */
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* transition: 0.3s ease; */
}

.card_contenido {
  display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.5em;
    background: var(--second-color);
    color: var(--main-color);

    /* Centra el contenido en el eje X */
    flex-direction: column;
    /* justify-content: flex-start; */
    text-align: center;

    /* Oculta el resto del contenido */
    overflow: hidden;

    /* Transición suave al cambiar la altura */
    transition: 'smoot' 0.3s ease;
}

.card:hover .card_contenido {
    height: 50%;
    cursor: pointer;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
}

  .card:hover img {
    transform: scale(1);
    cursor: pointer;
  }
  
  .card card_item h3 {
    /* margin: 8px auto; */
    /* font-size: 1.2rem; */
    /* color: var(--third-color); */
  }
  
  .card card_item p {
    /* font-size: 1rem; */
    /* line-height: 1.5; */
=======
.content {
    grid-area: container;
}


/* Aquí están todos los estilos de la galeria y las cards principales (categorías) del contenido. */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    max-width: 1200px;
    margin: 25px auto;
  }

.card {
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: height 0.5s ease;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease;
}

.card_contenido {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.5em;
    background: rgba(0, 0, 0, 0.7);
    color: white;

    /* Centra el contenido en el eje X */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinea el contenido al principio */
    align-items: center;
    text-align: center;

    /* Oculta el resto del contenido */
    overflow: hidden;

    /* Transición suave al cambiar la altura */
    transition: height 0.3s ease;
}

.card:hover .card_contenido {
    height: 50%;
    cursor: pointer;
}

  .card:hover img {
    transform: scale(1.1);
    cursor: pointer;
  }
  
  .card_contenido h1 {
    margin: 8px auto;
    font-size: 1.2rem;
    color: #ffd700;
  }
  
  .card_contenido p {
    font-size: 1rem;
    line-height: 1.5;
>>>>>>> 0849479e59ef1ef9becc56ea055b06d6e5054206
  }