* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

.principal_page {
  /* min-height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
}

.app-container {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
}

main {
  /* flex: 1; */
  /* padding: 20px; */
}

.content {
  /* display: flex; */
  /* flex-direction: column; */
  /* margin-top: 3rem; */
}

.content-body {
  min-height: 100vh;
  margin: 2rem;
}

.sidebar {
  /* width: 200px; */
  min-height: calc(100vh - 55px);
  /* position: sticky; */
  /* top: 55px; */
}

.main_top {
  display: flex;
  width: 100%;
  background: linear-gradient(to right, var(--main-color), var(--second-color));
  color: var(--fourth-color);
  border-radius: 15px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.1);
  padding: 35px 35px;
  flex-direction: column;
}

.gallery {
  margin-top: 20px;
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  /* gap: 20px; */
}

footer {
  width: 100%;
  background-color: var(--main-color);
  color: #f4f4f4;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 0.9rem;
  display: inline;
}

h4 {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #aaa;
  margin-left: 20px;
}

i {
  font-size: 1.5rem;
  color: var(--fourth-color);
  transition: 0.5s;
  color: var(--third-color);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p,
a {
  font-size: 0.9rem;
}

hr {
  border: 5px solid rgba(255, 255, 255, 0.1);
  margin-top: 49px;
  margin-left: -6px;
  background-color: var(--third-color);
}

.titulo_cards {
  display: flex;
  /* padding: 20px; */
  /* margin-left: 65px; */
  /* margin-right: 900px; */
  /* background-color: var(--main-color); */
  color: black;
  /* justify-content: center; */
}

body {
  overflow-x: hidden;
}