.principal_page {
  /* min-height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
}

.content {
  /* display: flex; */
  /* flex-direction: column; */
  /* margin-top: 3rem; */
}

.gallery {
  /* margin-top: 20px; */
  /* width: 100%; */
  /* max-width: 1200px; */
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); */
  /* gap: 20px; */
}

footer {
  /* width: 100%; */
  background-color: var(--main-color);
  color: #f4f4f4;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 0.9rem;
  display: inline;
}

h4 {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #aaa;
  margin-left: 20px;
}

i {
  font-size: 1.5rem;
  color: var(--fourth-color);
  transition: 0.5s;
  color: var(--third-color);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p,
a {
  font-size: 0.9rem;
}

hr {
  border: 5px solid rgba(255, 255, 255, 0.1);
  margin-top: 49px;
  margin-left: -6px;
  background-color: var(--third-color);
}

.titulo_cards {
  display: flex;
  /* padding: 20px; */
  /* margin-left: 65px; */
  /* margin-right: 900px; */
  /* background-color: var(--main-color); */
  color: black;
  /* justify-content: center; */
}






/* 
body.principal_page {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header.header {
  grid-area: header;
}

aside.sidebar {
  grid-area: sidebar;
}

main#app {
  grid-area: main;
}

footer.footer {
  grid-area: footer;
} */