/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    /* Oculta el sidebar en pantallas pequeñas */

    @media (max-width: 768px) {

        /* Ocultar el sidebar en móvil */
        aside.sidebar {
            display: none !important;
        }

        /* Ajustar el grid para que el main ocupe todo el ancho */
        #app {
            grid-template-areas:
                "header"
                "main"
                "footer";
            grid-template-columns: 1fr;
        }
    }


    /* El área principal debe ocupar toda la columna */
    main.content {
        grid-area: main;
        padding: 20px;
    }

    /* Agrega estilos para el menú hamburguesa; asegúrate de que en el header el icono esté oculto en desktop por defecto */
    header .hamburger-menu {
        display: block;
        cursor: pointer;
        font-size: 1.8em;
        margin-right: 20px;
    }
}

/* En pantallas mayores, ocultamos el menú hamburguesa */
@media (min-width: 769px) {
    header .hamburger-menu {
        display: none;
    }
}