.sidebar {
  display: flex;
  background-color: var(--main-color);
  position: fixed;
}

.sidebar-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
<<<<<<< HEAD
=======
  padding: 20px 0;
>>>>>>> 0849479e59ef1ef9becc56ea055b06d6e5054206
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 40px;
  padding: 10px 20px;
  border-radius: 8%;
  transition: background-color 0.3s ease;
  color: var(--second-color);
}

.sidebar-item:hover {
  background-color: var(--second-color);
  transition: 2s ease;
  text-decoration: none;
  color: var(--main-color);
}

.sidebar-items:hover {
  color:var(--main-color);
}

#item {
  margin: 2.1rem;
  color: var(--third-color);
}