.sidebar {
  display: flex;
<<<<<<< HEAD
=======
  position: fixed;
  flex-direction: column;
>>>>>>> 264bbdace8f3a4a59c66e7f4e62da273ced73362
  width: 200px;
  height: 100vh;
  background-color: var(--main-color);
<<<<<<< HEAD
  padding: 20px;
  box-shadow: 0 0 20px var(--main-color);
  /* overflow-y: auto; */
=======
  align-items: center;
  padding: 5rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  z-index: 1;
>>>>>>> 264bbdace8f3a4a59c66e7f4e62da273ced73362
}

.sidebar-dynamic-items {
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  gap: 15px;
=======
  align-items: flex-start;
  gap: 1rem;
  text-decoration: none;
>>>>>>> 264bbdace8f3a4a59c66e7f4e62da273ced73362
}

.sidebar-item {
  color: var(--second-color);
  padding: 10px;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  transition: var(--second-color) 0.3s ease;
}

.sidebar-item:hover {
  background-color: var(--second-color);
  color: var(--main-color);
  border-radius: 8px;
}

.sidebar i {
  font-size: 1.5rem;
}

.sidebar span {
  font-size: 1.5rem;
  margin-left: 2rem;
<<<<<<< HEAD
=======
}

.sidebar a {
  text-decoration: none;
>>>>>>> 264bbdace8f3a4a59c66e7f4e62da273ced73362
}