@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('header.css');
@import url('layout.css');
@import url('container.css');
@import url('sidebar_start.css');
@import url('footer.css');
@import url('cards_horizontales.css');
@import url('lectura.css');
@import url('mediaqueries.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

:root {
  --main-color: #21324B;
  --second-color: #78b9BA;
  --third-color: #CE472F;
  --fourth-color: #C6C5B4;
}

#app {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header.header {
  grid-area: header;
}

aside.sidebar {
  grid-area: sidebar;
}

main.content {
  margin-top: 5rem;
  grid-area: main;
  overflow-x: hidden;
}

footer.footer {
  grid-area: footer;
}