<section class="content_section">
  <div class="section_header">
    <h1>Gestionar Multas</h1>
  </div>
  <div class="table_container">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Visitante</th>
          <th>Monto</th>
          <th>Préstamo ID</th>
          <th>Fecha Creación</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody id="multas_table_body">
      </tbody>
    </table>
  </div>
</section>
