  /* .section_categorias {
    max-width: 180vh;
    margin: 5rem auto;
    width: 100%;
  }

  .section_categorias h1 {
    display: flex;
    text-align: center;
    flex-direction: column;
    /* font-size: 1.5rem; */
   /* } */

  /* .carrusel_container {
    position: relative;
    width: 100%;
  }

  .section_content {
    overflow: hidden;
    width: 100%;
  }

  .carrusel_wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    transition: transform 0.3s ease;
    width: max-content;
  }

  .scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
  }

  .scroll-btn:hover {
    background-color: rgba(0, 0, 0, 0.9);
  }

  .scroll-btn.left {
    left: 10px;
  }

  .scroll-btn.right {
    right: 10px;
  } */
/* 
  @media (max-width: 768px) {
    .section_categorias h1 {
      font-size: 1.2rem;
    }

    .scroll-btn {
      width: 40px;
      height: 40px;
      font-size: 18px;
    }

    .card_item {
      flex: 0 0 250px;
    }

    .section_content {
      height: 18rem;
    }
  } */