.gallery {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 20px;
  padding: 2rem;
  justify-content: center;
  margin-top: 5rem;
}

.card {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 2rem;
  overflow: hidden;
  transition: height 0.5s ease;
  box-shadow: 0 4px 8px var(--main-color);
}

.card img {
  border-radius: 2rem;
  height: 100%;
  object-fit:cover;
  width: 100%;
}

.card_contenido {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  transition: height 0.3s ease, opacity 0.3s ease;
}

.card:hover .card_contenido {
  color: black;
  height: 50%; /* O ajusta al tamaño deseado */
  opacity: 1;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.7);  /* Opcional: redondear bordes superiores */
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
}

.card:hover img {
  transform: scale(1);
  cursor: pointer;
}

.card card_item p {
  font-size: 1rem;
  line-height: 1.5;
}

.card_item {
  position: relative;
  width: 100%;  
  height: 100%;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0 4px 8px var(--main-color);
  transition: transform 0.3s ease;
}

.card_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.card_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: height 0.3s ease, opacity 0.3s ease;
}

.card_item:hover .card_overlay {
  height: 50%;
  opacity: 1;
  cursor: pointer;
}

.card_overlay h3 {
  margin: 0;
  font-size: 1.2rem;
  color: var(--main-color);
}