/* h4 {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #aaa;
  margin-left: 20px;
} */

i {
  font-size: 1.5rem;
  color: var(--fourth-color);
  transition: 0.5s;
  color: var(--third-color);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p,
a {
  font-size: 0.9rem;
}