<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Registro de usuario</title>
  <link rel="stylesheet" href="../../CSS/styles.css">
</head>
<body>
  <h1>Registro de Visitante</h1>
  <form id="formRegistro">
    <input type="text" name="usuario" class="usuario" placeholder="Nombre de usuario" required />
    <input type="password" name="contrasena" class="contrasena" placeholder="Contraseña" required />
    <input type="text" name="nombre" class="nombre" placeholder="Nombre" required />
    <input type="text" name="apellido" class="apellido" placeholder="Apellido" required />
    <input type="text" name="cedula" class="cedula" placeholder="Cédula" required />
    <input type="email" name="correo" class="correo" placeholder="Correo" required />
    <input type="text" name="telefono" class="telefono" placeholder="Teléfono" />
    <button type="submit">Registrarse</button>
  </form>

  <script type="module" src="../../scripts/registro.js"></script>
</body>
</html>
