<section class="content_section">
  <div class="section_header">
    <h1 id="form_title"></h1> <!-- Título dinámico -->
    <a href="#categorias" class="btn btn_secondary">Volver a la Lista</a>
  </div>

  <form id="categoria_form" class="crud_form" novalidate>
    <div class="form_group">
      <label for="nombre">Nombre de la Categoría</label>
      <input type="text" id="nombre" name="nombre">
    </div>

    <div class="form_group">
      <label for="descripcion">Descripción</label>
      <textarea id="descripcion" name="descripcion" rows="4"></textarea>
    </div>

    <button type="submit" id="submit_btn" class="btn btn_primary"></button>
  </form>
</section>